@model List<StarWars.Models.PlanetaViewModel>

<div class="card-body">
    @Html.ActionLink("Inserir novo planeta", "PagInserir", "Planetas", new {} , new { @class="btn btn-info"})
    <p></p>
    @using (Html.BeginForm("Buscar", "Planetas", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form" })) {
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" placeholder="Buscar por nome ou Id" name="palavra" class="form-control form-control-line">
            </div>
        </div>
    }
    <div class="table-responsive m-t-40">
        <table class="table table-bordered table-striped table-hover" id="tableTopics">
            <tr class="text-nowrap tb-titulo-azul-branco">
                <th>Id</th>
                <th>Nome</th>
                <th>Clima</th>
                <th>Terreno</th>
                <th>Quantidade de aparições em filmes</th>
                <th colspan="2"></th>
            </tr>
            @foreach (var planeta in this.Model) {
                <tr>
                    <td>@planeta.Id</td>
                    <td>@planeta.name</td>
                    <td>@planeta.climate</td>
                    <td>@planeta.terrain</td>
                    <td>@planeta.QtdFilmes</td>
                    <td>@Html.ActionLink("Editar", "PagModificar", new { Id = @planeta.Id}, new { @class="btn btn-warning"})</td>
                    <td>@Html.ActionLink("Excluir", "Excluir", new { Id = @planeta.Id}, new { @class="btn btn-danger", onclick="return confirm('Tem certeza que deseja excluir o planeta?');"})</td>
                </tr>
            }
        </table>
    </div>
</div>